@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100&display=swap');
.landing-container{
  position: relative;
  font-family: 'Victor Mono', monospace;
}
.title-text{
  font-size: 72px;
  -webkit-text-stroke: 1px black;
  text-align: center;
}
.button-group{
  display: flex;
  gap: 6vw;
  margin-top: 100px;
}
.content-group{
  z-index: 2;
}
.imageElement{
  height: 300px;
  position: absolute;
  z-index: 1;
  background: transparent;
}
