<div class="container">
  <img [src]="backgroundImageSRC" class="backgroundImage" alt="background_Image">
  <div class="container-fluid d-flex vh-100 z-index-5 justify-content-center">
    <div class="elements-container z-index-5">
      <img [src]="pepeBandSRC" alt="pepeband-gif" class="pepeband-gif" style="width: 98%; height: 170px">
      <span class="title-text vw-100">
        Diskont Apka
      </span>
      <div class="buttons-container ">
        <button class="btn-login btn" routerLink="/login" *ngIf="!isLoggedIn">Log in</button>
        <button class="btn-music btn" routerLink="/dashboard">Music List</button>
      </div>
    </div>
  </div>
  <img [src]="nyanCatSRC" class="nyan-cat z-index-5" alt="nyanCat" (click)="playNyanCat()">
  <img [src]="pepeJamSRC" class="pepe-jam z-index-5" alt="nyanCat">
</div>
