<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom header-container">
  <a class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
   <div class="d-flex align-items-center gap-4" routerLink="/landing-page" style="cursor: pointer;">
     <img src="./assets/pepejamL.gif" href="" style="width: 2vw;height: 2vw" alt="obraz">
     <span class="fs-4 title-text">Discord Songs</span>
     <img src="./assets/pepejamR.gif" href="" style="width: 2vw;height: 2vw" alt="obraz">
   </div>
  </a>
</div>
<router-outlet></router-outlet>
