<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
   <div class="d-flex align-items-center gap-4">
     <img src="./assets/pepejamL.gif" href="" style="width: 2vw;height: 2vw" alt="obraz">
     <span class="fs-4 title-text">Diskordowa muzyka</span>
     <img src="./assets/pepejamR.gif" href="" style="width: 2vw;height: 2vw" alt="obraz">
   </div>
  </a>

<!--  <ul class="nav nav-pills me-md-4">-->
<!--    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Główna</a></li>-->
<!--   <li class="nav-item"><a href="#" class="nav-link">Siema orzel</a></li> &lt;!&ndash; tu bedzie nazwa polaczonego uzytkownika&ndash;&gt;-->
<!--  </ul>-->
</div>

<router-outlet></router-outlet>
