<div class="card d-flex flex-row justify-content-between">

    <img src="https://i.ytimg.com/vi/p9gnADqjbYk/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBTkE_2L2vYexbz6RvoIcg3_Z4Uyw" alt="">

    <div class="song-info d-flex flex-column justify-content-between">

        <div class="d-flex flex-column">
            <span class="title">PSYTRANCE ● Vintage Culture, Fancy Inc - In the Dark (Sound Machine & Warlockz Remix)</span>
            <span class="author">Psycodelize Music</span>
        </div>


        <div class="stats d-flex justify-content-between">

            <div class="likes d-flex justify-content-between">
                <i class="bi bi-fire"></i>
                <span class="like-number"> 52</span>
            </div>

            <div class="d-flex justify-content-between">
                <i class="bi bi-calendar "></i>
                <span class="date"> 18.20.2137</span>
            </div>
            
        </div>
    </div>

</div>