<mat-dialog-content class="d-flex justify-content-center align-items-center flex-column">
  <h3>Add new song to list</h3>
  <form [formGroup]="newSongForm">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>URL</mat-label>
          <input
            type="text"
            matInput
            placeholder="Paste url to song you want to add"
            formControlName="ytURL"
          >
          <mat-error *ngIf="newSongForm.get('ytURL')?.hasError('required')">How do you want to add song?</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input
            type="text"
            matInput
            placeholder="Inser author of song"
            formControlName="author"
          >
          <mat-error *ngIf="newSongForm.get('author')?.hasError('required')">Write author name</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Song type</mat-label>
          <mat-select formControlName="categories" multiple>
            <mat-option *ngFor="let listName of  data" [value]="listName">{{listName.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="newSongForm.get('categories')?.hasError('required')">Select proper genre</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
<div class="button-group">
  <button mat-raised-button class="buttonText" color="primary" (click)="addSong()">Add song</button>
  <button mat-raised-button class="buttonText" (click)="closeDialog()">Close</button>
</div>
</mat-dialog-content>
