<div class="main-container">

  <div class="row">
    <div class="col d-flex justify-content-center flex-column align-items-center management-panel">

      <div class="input-container">
        <input type="text" class="search-bar" [placeholder]="' search by playlist\'s name'">
        <i class="bi bi-search icon"></i>
      </div>

      <div class="input-container">
        <input type="checkbox" id="show-owned">
        <label for="show-owned">Show only playlists added by you</label>
      </div>

      <div class="input-container">
        <input type="checkbox" id="label2">
        <label for="label2">Show only liked playlists</label>
      </div>

      <div class="input-container">
        <button class="btn btn-add add-button" (click)="authorService.addArtist()">
          <span>Add artist</span>
          <i class="bi bi-music-note-list"></i>
        </button>
      </div>

      <div class="title">Playlists</div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 author-container" *ngFor="let author of filteredAuthors">
      <app-author-card [author]="author"></app-author-card>
    </div>
  </div>

</div>
