@import "src/variables";
.btn-accept{
  background-color: $main-red-color;
}
.button-group{
  display: flex;
  gap: 20px;
}
.container{
  height: 20vh;
  font-size: 1.3vw;
}
.info-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
