<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3>Playlist Creator</h3>
    </div>
  </div>
  <form [formGroup]="playlistForm">
     <div class="d-flex flex-column">
       <mat-form-field>
         <mat-label>Enter name of playlist</mat-label>
         <input matInput formControlName="name">
         <mat-error *ngIf="playlistForm.get('name')?.hasError('required')">Playlist name is required.</mat-error>
       </mat-form-field>
       <mat-form-field>
         <mat-label>Enter playlist icon</mat-label>
         <input matInput formControlName="pictureURL">
       </mat-form-field>
     </div>
  </form>
</div>
<div class="d-flex justify-content-center gap-2 button-group">
  <button mat-raised-button class="close-div btn" color="primary" (click)="createPlaylist()">Create playlist</button>
  <button mat-raised-button class="close-div btn btn-danger" (click)="close()">Close</button>
</div>
