<div class="container1 d-flex">
  <app-sidebar></app-sidebar>
  <div class="categories">
    <div class="categories-top-bar">
      <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-center flex-column align-items-center management-panel">
              <div class="button">
                <button class="btn btn-success" *ngIf="!loginStatus" routerLink="/login">Log In</button>
                <button class="btn btn-danger" *ngIf="loginStatus" (click)="loginStatus">Log Out</button>
              </div>
              <mat-form-field class="d-flex">
                <input matInput type="text"
                       [(ngModel)]="loginStatus"
                       [placeholder]="' search by authors\' name'"
                >
              </mat-form-field>
              <p>Categories</p>
            </div>
          </div>
        <div class="row">
          <div class="col col-sm-4 info-bar">
          </div>
        </div>
        <div class="row">
          <div class="col-12" *ngFor="let category of categories; index as index" >
            <app-category-item [category]="category" [index]="index"></app-category-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
