<div class="main-container" [ngStyle]="sharedService.isSmallScreen ?{'width' : '95vw'} : {}">

  <div class="row">
    <div class="col d-flex justify-content-center flex-column align-items-center management-panel">

      <div class="input-container">
        <input type="text" class="search-bar"
               *ngIf="filteredCategories.length!=0"
               [placeholder]="' search by category\'s name'"
               [(ngModel)]="searchQuery"
        (input)="filterCategories()">
        <i class="bi bi-search icon"></i>
      </div>
      <div class="title">Categories</div>
      <div *ngIf="filteredCategories.length==0" style="width: 80vw"
           class="d-flex flex-column justify-content-center align-items-center gap-2">
        <mat-spinner></mat-spinner>
        <p style="color: #97A9B4;">Loading...</p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="filteredCategories.length!=0">
    <div class="d-flex flex-column justify-content-center">

      <div class="d-flex list-item first">
        <div class="hash">#</div>
        <div class="name">Name</div>
        <div class="show">Show songs of this category</div>
      </div>

      <div class="bottom-border"></div>

      <div class="d-flex list-item" *ngFor="let category of filteredCategories; index as index">
        <div class="hash">{{index+1}}</div>
        <div class="name">{{category.name}}</div>
        <button class="show-songs-btn" (click)="showCategorySongs(category.name)">Show songs</button>
      </div>

    </div>
  </div>

</div>
