@import "src/variables";

section {
padding: 1.5rem;
padding-bottom: 1rem;
}
.content{
  padding: 0.5rem 2rem;
}
.quick-add{
  padding-bottom: 1rem;
}
.section-title {
  font-weight: bold;
  font-size: 2rem;
  color: $font-color;
}
// Add button
.add-button {
  height: 3.5rem;
  width: 30%;
  background-color: $hover-blue-nav-color;
  font-size: 1.6rem;
  color: white;
  text-align: center
}
.add-button:hover  {
  cursor: pointer;
  background-color: $blue-nav-color;
}
.button-login-container{
  display: flex;
  justify-content: flex-end;
  padding-top: 2vh;
}
.row {
  width: 95%;
}
.border-bottom{
  border-bottom: var(--bs-border-width) var(--bs-border-style) $font-color!important;
}
button{
  min-width: 300px;
}

