@import "src/variables";
.main-container {
  display: flex;
  background: $background-main-color;
  justify-content: space-between;
}
app-sidebar{
  position: sticky;
  top: 20px;
  background-color: $background-color;
  padding: 10px;
  width: 20%;
  text-align: center;
}
.quick-add{
  margin: 0 0 2vh 0;
}
.section-title {
  font-weight: bold;
  font-size: 2rem;
  color: $font-color;
}
// Add button
.add-button {
  height: 3.5rem;
  width: 30%;
  background-color: $hover-blue-nav-color;
  font-size: 1.6rem;
  color: white;
  text-align: center
}
.add-button:hover  {
  cursor: pointer;
  background-color: $blue-nav-color;
}
.content{
  width: 100%;
  margin-left: 10px;
}
.button-login-container{
  display: flex;
  justify-content: flex-end;
  padding-top: 2vh;
}
.row{
  width: 95%;
}
.sorted-by-date-container{
  margin-top: 2vh;
}
.border-bottom{
  border-bottom: var(--bs-border-width) var(--bs-border-style) $font-color!important;
}


