<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="row">
    <div class="button-login-container">
      <button class="btn btn-success" *ngIf="!loginStatus" routerLink="/login">Log In</button>
      <button class="btn btn-danger" *ngIf="loginStatus" (click)="userService.logOut()">Log Out</button>
    </div>
    </div>
      <div class="quick-add d-flex gap-4 flex-column">
        <div class="section-title">
          <p>Quick Add</p>
        </div>
        <button class="btn add-button">Add song</button>
        <button class="btn add-button">Add Author</button>
        <div class="border-bottom"></div>
    </div>
    <div class="container">
      <div class="row">
         <div class="col">
           <p class="section-title">Most liked</p>
         </div>
      </div>
           <div class="row song-cards-container">
             <div *ngFor="let number of numbers" class="col-sm-4">
               <app-song-card></app-song-card>
             </div>
           </div>
    </div>
    <div class="border-bottom"></div>
  </div>
</div>
