<div class="content">

  <section *ngIf="isLoggedIn">
    <div class="quick-add d-flex gap-4 flex-column">
      <div class="section-title">
        <p>Quick Add</p>
      </div>
      <button class="btn add-button" (click)="addSong()"><span>
        Add song
      </span>  <i class="bi bi-music-note"></i></button>
      <button class="btn add-button" (click)="openAddPlaylistDialog()">
        <span>
          Create a playlist
        </span><i class="bi bi-caret-right-square"></i></button>
    </div>
  </section>

  <div class="bottom-border"></div>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p class="section-title">Most liked</p>

          <div *ngIf="songs.length==0" style="width: 80vw"
               class="d-flex flex-column justify-content-center align-items-center gap-2">
            <mat-spinner></mat-spinner>
            <p style="color: #97A9B4;">Loading...</p>
          </div>

        </div>
      </div>
      <div class="row">
        <div *ngFor="let song of songs" class="col col-lg-6 col-xl-4">
          <app-song-card [song]="song"></app-song-card>
        </div>
      </div>
    </div>
  </section>

  <div class="bottom-border"></div>

  <section>
    <div class="container-fluid sorted-by-date-container">
      <div class="row">
        <div class="col">
          <p class="section-title">Recently Added</p>
          <div *ngIf="songs.length==0" style="width: 80vw"
               class="d-flex flex-column justify-content-center align-items-center gap-2">
            <mat-spinner class="spinerek"></mat-spinner>
            <p style="color: #97A9B4;">Loading...</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let sortedSong of songsSortedByDate" class="col col-lg-6 col-xl-4">
          <app-song-card [song]="sortedSong"></app-song-card>
        </div>
      </div>
    </div>
  </section>


</div>
