@import "../../../../../variables";
.list-group-horizontal{
  width: 80vw;
  height: 10vh;
}
.list-group-horizontal:hover{
  color: whitesmoke;
}
.row{
  color: $main-clay-color;
}
.row:hover{
  background: $hover-blue-nav-color;
  border-radius: 25px;
}
.song-description {
  width: 20vw;
}
.index{
  width: 20px;
}
.song-categories{
  width: 70px;
}
.like-group{
  width: 40px;
}
.data:hover{
  cursor: pointer;
}
.song-author-name{
  font-size: 11px;
}
.playlist-empty{
  margin: 1vh 0;
}
.button-group{
  margin: 1vh 0;
}
.bi-fire{
  color: #FF6C6C;
}
.action-first{
  display: flex;
  align-items: center;
}
.action-first:hover{
  cursor: pointer;
}
.hidden-list{
  position: relative;
  top: 4vh;
  right: 85%;
  border-radius: 5%;
  background: $background-main-color;
}


