<div class="row r1" *ngIf="songData" (mouseleave)="expanded=false">
    <div
    class="d-flex align-baseline list-group-horizontal justify-content-between col-sm-5">
      <div class="index d-flex align-items-center">{{songIndex+1}}</div>
      <div class="my-auto">
        <img [src]="songRecord.thumbnail" class="data" alt="image" style="height: 80px; width: 140px"
        (click)="ss.openInYT(songRecord.ytURL)">
      </div>
      <div class=" my-auto song-description" (click)="ss.onClick($event)" [cdkCopyToClipboard]="copyMode == 'name' ? this.botCommand +' '+ songRecord.name : this.botCommand +' '+ songRecord.ytURL">
        <div class="song-name data">{{songRecord.name}}</div>
        <div class="song-author-name my-auto data">
          <span *ngFor="let author of songRecord.authors; let last = last">
            {{author.name || 'loading...' | titlecase}}{{ !last ? ', ' : '' }}
          </span>
        </div>
      </div>
      <div class="song-categories my-auto">
        <span *ngFor="let category of songRecord.categories; let last = last">
    {{ category.name || 'loading...' | titlecase}}{{ !last ? ', ' : '' }}
  </span>
      </div>
      <div class="my-auto data like-group" (click)="ss.like(songRecord)">
        <i style="margin-right: 5px" class="bi bi-fire"
           [ngStyle]="{'color' : isLiked ? '#FF6C6C' : 'white'}"
        (click)="isLiked = !isLiked"
        >{{songRecord.likes.length}}</i>
      </div>
      <div class="action-first clickable data like-group my-auto" (click)="expanded = !expanded" *ngIf="isLoggedIn">
        <i class="bi bi-list"></i>
      <div class="hidden-list" *ngIf="expanded">
        <mat-nav-list>
          <mat-list-item (click)="ss.openAddToPlaylistDialog(songRecord._id)">Add to playlist</mat-list-item>
          <mat-list-item *ngIf="this.sc.isLoggedIn && this.songRecord.userID.username == user"
                         (click)="ss.editSongDialog(songRecord)"
          >Edit</mat-list-item>
          <mat-list-item *ngIf="this.sc.isLoggedIn && this.songRecord.userID.username == user"
                         (click)="ss.openConfirmDeleteDialog(songRecord._id,songIndex)"
          >Remove</mat-list-item>
        </mat-nav-list>
      </div>
      </div>
    </div>
  </div>

