.main-container{
  display: flex;
}

app-sidebar{
  position: fixed;

}
app-sidebar,
.sidebar-fix{
  background-color: #222;
  height: 100vh;
  width: 20%;
  max-width: 20%;
  top: 0;
  left: 0;
}
.content-container{
  display: flex;
  width: 80%;
  min-height: 100vw;
}
app-top-bar{
  width: 100%;
  height: 7.5%;
  border: 1px solid red;
}
