@import "src/variables";
.infos{
  display: flex;
  gap: 40px;
}
.container{
  margin: 1vh 0;
  height: 110%;
}
.container:hover{
  background-color:$hover-blue-nav-color;
  border-radius: 25px;
}
.index{
  min-width: 25px;
}
