@import "../../../../variables";
$text-size: 0.9rem;
.card {
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1vh 10px;
  background-color: $background-color;
  color: $main-clay-color;
}
.song-card-img{
  border-radius: 0.5rem;
  width: 160px;
  height: 90px;
  min-width: 70px;
}
.card-in-playlist{
  width: 20vw;
}
.song-info {
  padding: 0 10px;
  width: 100%;
}
.author {
  font-size: 0.9 * $text-size;
  display: flex;
  align-content: flex-end;
}
.author, i, .date, .like-number {
  color: $font-color;
  font-size: 0.9 * $text-size;
}
.song-main-info{
  display: flex;
  height: 100%;
}
.stats{
  width: 100%;
}
