@import "../../../../variables";
$text-size: 0.9rem;
.card {
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1vh 0;
  background-color: $background-color;
}
.song-info {
  padding: 0 10px;
}
.title {
  color: white;
  font-size: $text-size;
}
.author {
  font-size: 0.9 * $text-size;
  display: flex;
  align-content: flex-end;
}
.author, i, .date, .like-number {
  color: $font-color;
  font-size: 0.9 * $text-size;
}
.song-main-info{
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.stats{
  width: 11vw;
}
