<div class="sidebar">
  <div class="server-logo  d-flex justify-content-center align-items-center">
    <img class="server-logo-img" src="assets/server-logo-static.png" routerLink="/landing-page">
  </div>
  <ul class="list-unstyled">
    <li routerLink="/home">
      <i class="bi bi-house-door"></i> Home
    </li>
    <li routerLink="/dashboard">
      <i class="bi bi-music-note-beamed"></i> Music
    </li>
    <li routerLink="/authors" >
      <i class="bi bi-person-fill"></i> Artists
    </li>
    <li routerLink="/categories" >
      <i class="bi bi-filter"></i>Categories
    </li>
    <li routerLink="/favourites" >
      <i class="bi bi-fire"></i> Favourites
    </li>
    <li routerLink="/settings" >
      <i class="bi bi-gear"></i> Settings
    </li>
  </ul>
</div>
