<div class="container">
  <div class="row" *ngIf="songData" >
    <div
    class="d-flex align-baseline list-group-horizontal justify-content-between">
      <div class="index d-flex align-items-center data">{{songIndex+1}}</div>
      <div class="my-auto">
        <img [src]="songData.thumbnail" class="data" alt="image" style="height: 80px; width: 140px"
        (click)="openInYT(songData.ytURL)">
      </div>
      <div class=" my-auto song-description">
        <div class="song-name data">{{songData.name}}</div>
        <div class="song-author-name my-auto data">{{songData.authorID.name}}</div>
      </div>
      <div class="song-categories my-auto data">
        <span *ngFor="let category of songData.categories; let last = last">
    {{ category.name }}{{ !last ? ', ' : '' }}
  </span>
      </div>
      <div class="my-auto data like-group" (click)="like()" #likeElement>
        <i style="margin-right: 5px" class="bi {{isLiked ? 'bi-heart-fill' : 'bi-heart'}}"></i>
        <span class="song-like-number my-auto">{{songData.likes.length ? songData.likes.length : 0}}</span>
      </div>
      <div class="my-auto data like-group" (click)="deleteSong()" *ngIf="this.dashboard.isLoggedIn">
        <i style="margin-right: 5px" class="bi {{isLiked ? 'bi-heart-fill' : 'bi-heart'}}"></i>
        <span class="song-like-number my-auto data">{{songData.likes.length ? songData.likes.length : 0}}</span>
      </div>
    </div>
  </div>
</div>

