@import "src/variables";
.container{
  color: $main-clay-color;
}
.list-group-horizontal{
  width: 100vw;
  height: 10vh;
}
.list-group-horizontal:hover{
  color: whitesmoke;
}
.my-auto{
  max-width: 400px;
}
.song-description{
  width: 400px;
}
.index{
  width: 20px;
}
.song-categories{
  width: 70px;
}
.like-group{
  width: 40px;
}
.data:hover{
  cursor: pointer;
}
