@import "src/variables";
mat-card{
  background: $background-main-color;
  width: 100%;
  padding: 2rem 0;
}
mat-card:hover{
  background: $background-hover-color;
}
img{
  height: 150px;
  max-width: 8vw;
  min-width: 100px;
  padding-bottom: 25px;
  border-radius: 10px;
}
p{
  text-align: center;
  font-size: larger;
}
.col-12 {
  display: flex;
  justify-content: center;
}

.btn{
  color: white;
}
.controls{
  display: flex;
  gap: 10px;
}
.button-info{
  background-color: $hover-blue-nav-color;
}
.button-delete{
  background-color: $main-red-color;
}
