@import "src/variables";
mat-card{
  background: $background-main-color;
  margin: 10px;
  width: 15vw;
  min-width: 150px;
}
mat-card:hover{
  background: $background-hover-color;
}
img{
  height: 150px;
  max-width: 8vw;
  min-width: 100px;
  padding-bottom: 25px;
}
p{
  text-align: center;
  font-size: larger;
}
.col-12 {
  display: flex;
  justify-content: center;
}
