@import 'src/variables';

mat-card{
  background: $background-color;
  margin: 1vh 0;
  padding: 1rem;
  height: 10rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
img{
  border-radius: 8px;
  padding: 0 1rem;
  height: 100%;
}
$content-height: 8rem;
.playlist-img {
  height: $content-height;
}
.playlist-main-info{
  height: $content-height;
  word-wrap: anywhere;
}

.info-length,
.name {
  color: white;
}
.author,
.info-length,
.info-likes {
  color: $font-color;
}
.info-length {
  font-size: 1.5rem;
  width: 50px;
}
.info-likes,
.name {
  font-size: 1.1rem;
}
.author {
  font-size: 0.8rem;
}
