<div class="container">
  <div class="row" *ngIf="songData">
    <div
    class="d-flex align-baseline list-group-horizontal justify-content-between ">
      <div class="index my-auto">{{songIndex+1}}</div>
      <div class=" my-auto">
        <img src="assets/pepe-the-frog-dance.gif" alt="image" style="height: 80px">
      </div>
      <div class=" my-auto">
        <div class="song-name">{{songData.name}}</div>
        <div class="song-author-name my-auto">{{songData.authorID.name}}</div>
      </div>
      <div class="song-categories my-auto">{{songData.categories}}trap rap</div>
      <div class="my-auto" (click)="like()">
        <i  class="bi {{isLiked ? 'bi-heart-fill' : 'bi-heart'}}"></i>
        <span class="song-like-number my-auto">{{songData.likes}}17</span>
      </div>

    </div>
  </div>
</div>
