@import "src/variables";
.profile-picture{
  position: relative;
  top: 50px;
}
.profile-picture img{
  border-radius: 50%;
  width: 25vw;
  max-width: 300px;
}
.user-container{
  background-color: $background-hover-color;
  padding: 100px 0 40px 0;
  width: 60%;
  min-height: 640px;
}
.content-container{
  position: relative;
  bottom: 12vh;
}
mat-form-field{
  display: flex;
  justify-content: center;
}
.settings-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.input-group{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.button{
  width: available;
  padding: 10px 0;
  position: absolute;
  left: 85.7%;
}
.container{
  width: 100vw;
}
@media screen and (width< 1000px){
  mat-form-field{
    max-width: 150px;
  }
}
input:disabled:hover{
  cursor: not-allowed;
 }
