<div class="cont1 d-flex">
  <app-sidebar></app-sidebar>
  <div class="content-container d-flex flex-column justify-content-center align-items-center">
        <div class="profile-picture">
          <img src="assets/server-logo-static.png" alt="profka">
        </div>
    <div class="user-container container">
      <div class="row">
        <div class="col">
          <label>Username</label>
          <mat-form-field>
            <mat-label>twr drip</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>E-mail</label>
          <mat-form-field>
            <mat-label>email@example.com</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Password</label>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Bot Command</label>
          <mat-form-field>
            <mat-label>bot command</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
