<mat-dialog-content class="d-flex justify-content-center align-items-center flex-column">
  <p>Edit song details</p>
  <form [formGroup]="editSongForm">
    <div class="row">
      <div class="col song-title">
        {{data.name}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Author</mat-label>
          <mat-select formControlName="authors" multiple [(ngModel)]="data.authors" [compareWith]="compareByID">
            <mat-option *ngFor="let author of  artists" [value]="author">
              {{author.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editSongForm.get('authors')?.hasError('required')">Choose your author</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Song type</mat-label>
          <mat-select formControlName="categories" multiple [(ngModel)]="data.categories" [compareWith]="compareByID">
            <mat-option *ngFor="let category of  categories" [value]="category">{{category.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="editSongForm.get('categories')?.hasError('required')">Select proper genre</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="button-group">
    <button mat-raised-button class="buttonText" color="primary" (click)="editSongFun()">Edit song</button>
    <button mat-raised-button class="buttonText" (click)="closeDialog()">Close</button>
  </div>
</mat-dialog-content>
