<div class="main-container">

  <div class="row" *ngIf="loginStatus">
    <div class="col d-flex justify-content-center flex-column align-items-center management-panel">

      <div class="input-container">
        <input type="text" class="search-bar"
               [placeholder]="' search by playlist\'s name'" [(ngModel)]="searchQuery" (input)="filterNames()">
        <i class="bi bi-search icon"></i>
      </div>

      <div class="input-container">
        <input type="checkbox" id="show-owned" (click)="filterPlaylists('owned')">
        <label for="show-owned">Show only playlists added by you</label>
      </div>

      <div class="input-container">
        <input type="checkbox" id="show-liked" (click)="filterPlaylists('liked')">
        <label for="show-liked">Show only liked playlists</label>
      </div>

      <div class="input-container">
        <button class="btn btn-add add-button" (click)="openAddPlaylistDialog()">
          <span>Create playlist</span>
          <i class="bi bi-collection-play-fill"></i>
        </button>
      </div>

      <div class="title">Playlists</div>

    </div>
  </div>
  <div class="row row-group">
    <div class="col-lg-4" *ngFor="let playlist of playlistsTemp; index as index">
      <app-playlist-card [playlist]="playlist" (click)="showPlaylist(playlist,index)"></app-playlist-card>
    </div>
  </div>

</div>
