<mat-dialog-content class="d-flex justify-content-center align-items-center flex-column">
  <h3>Add new author</h3>
  <form [formGroup]="authorForm">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Insert name of author"
            formControlName="name"
          >
          <mat-error *ngIf="authorForm.get('name')?.hasError('required')">Enter name of an artist</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>URL</mat-label>
          <input
            matInput
            placeholder="Paste URL address to image of author"
            formControlName="pictureURL"
          >
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="button-group">
    <button mat-raised-button class="buttonText" color="primary" (click)="addAuthor()">Add author</button>
    <button mat-raised-button class="buttonText" (click)="closeDialog()">Close</button>
  </div>
</mat-dialog-content>
