<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
    <div class="card">
      <form [formGroup]="loginForm" class="box" (ngSubmit)="onSubmit()">
        <h1 class="app-name" routerLink="/dashboard">Discord App</h1>

        <p class="head-text"> Enter login and password</p>
      <input
        type="text"
        class="input"
        placeholder="Email adress"
        formControlName="email"

        [class.invalid]="loginForm.get('email')?.invalid &&
        (loginForm.get('email')?.touched || loginForm.get('email')?.dirty || isSubmitted)"
      >
        <div *ngIf="loginForm.get('email')?.hasError('required') &&
        (loginForm.get('email')?.touched || loginForm.get('email')?.dirty || isSubmitted)"
             class="error">
          Email address is mandatory
        </div>
      <input type="password" placeholder="Password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.touched || loginForm.get('password')?.dirty || isSubmitted)"
             class="error">
          Password is mandatory
        </div>
        <a class="head-text forgot" routerLink="/register">Don't have account?</a>
        <input type="submit" value="Login" >
    </form>
    </div>
  </div>
  </div>
</div>
