<div class="container">
  <div class="row">
    <div class="col">
      <p>Select playlist you want add song to:</p>
    </div>
    <mat-form-field>
      <mat-select [(ngModel)]="playlistID" placeholder="Playlist">
        <mat-option *ngFor="let playlist of playlists" [value]="playlist._id" (click)="showID()">
          {{playlist.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col" style="margin-bottom: 10px">
      <button class="btn btn-success" (click)="addToPlaylist(data.songID)">Add to playlist</button>
    </div>
  </div>
</div>
