<div class="container">
  <div class="row">
    <div class="col col-sm-4 d-flex justify-content-between management-list">
      <button class="add-song management-list-item"
              (click)="songService.addSong()"
              mat-raised-button
              color="warn"
              *ngIf="loginStatus"
              >Add song</button>
      <div class="add-song management-list-item button-10"
           (click)="dashboard.addArtist()"
           mat-button
           *ngIf="loginStatus"
      >Add artist</div>
      <button class="btn btn-outline-success song-lists management-list-item" (click)="dashboard.openFilterByDialog()">Filter by</button>
      <button class="btn btn-outline-danger song-lists management-list-item" (click)="dashboard.removeFilters()"
              [ngStyle]="{'visibility': dashboard.sharedService.filterStatus ? 'visible':'hidden'}"
      >Remove filters</button>
      <div class="btn btn-success logIn management-list-item d-flex align-content-end" *ngIf="!loginStatus" routerLink="/login">Log in</div>
      <div class="btn btn-danger logIn management-list-item d-flex align-content-end" *ngIf="loginStatus" (click)="logOut()">Log out</div>
    </div>
  </div>
</div>
