<div class="container">
  <div class="row">
    <div class="col col-sm-4 d-flex justify-content-between management-list">
      <button class="add-song management-list-item"
              (click)="dashboard.addSong()"
              mat-raised-button
              color="warn"
              *ngIf="loginStatus"
              >Add song</button>
      <div class="add-song management-list-item button-10"
           (click)="dashboard.addArtist()"
           mat-button
           *ngIf="loginStatus"
      >Add artist</div>
      <div class="song-lists management-list-item" (click)="dashboard.openFilterByDialog()">Filter by</div>

      <div class="logIn management-list-item d-flex align-content-end" *ngIf="!loginStatus" routerLink="/login">Log in</div>
      <div class="logIn management-list-item d-flex align-content-end" *ngIf="loginStatus" (click)="logOut()">Log out</div>
    </div>
  </div>
</div>
