<div class="container vw-100">
  <div class="row">
    <div class="col col-sm-4 d-flex justify-content-between management-list">
      <button class="add-song management-list-item"
              (click)="dashboard.addSong()"
              mat-raised-button
              color="warn"
              *ngIf="loginStatus"
              >Add song</button>
      <div class="add-song management-list-item button-10"
           (click)="dashboard.addArtist()"
           mat-button
           *ngIf="loginStatus"
      >Add artist</div>
      <button class="btn btn-outline-success song-lists management-list-item" (click)="dashboard.openFilterByDialog()">Filter by</button>
      <button class="btn btn-outline-danger song-lists management-list-item" (click)="dashboard.removeFilters()"
              [ngStyle]="{'visibility': dashboard.sharedService.filterStatus ? 'visible':'hidden'}"
      >Remove filters</button>
    </div>
  </div>
</div>
