@import "src/variables";
$icon-width: 3rem;
// ----------------------------------------------------------------
song-list-item:hover{
  background: $hover-blue-nav-color;
  border-radius: 25px;
}
.number{
  width: 25px;
}
.thumbnail{
  width: 140px;
}
.title2 {
  width: 20vw;
  float: left;
}
.genre{
  width: 70px;
}
.like-group{
  width: 45px;
}
footer{
  margin-top: 80px;
}
app-sidebar{
  position: sticky;
  top: 20px;
  background-color: $background-main-color;
  padding: 10px;
  width: 20%;
  text-align: center;
}
.cont1{
  background: $background-main-color;
}
.description-list:first-child, .description-list:last-child{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
// =============================================================

.main-container {
  width: 80vw;
  height: 100%;
  min-height: 100vh;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-row{
  width: 86%;
}
.management-panel{
  padding: 2rem 1%;
}
.col {
  margin: 0;
  padding: 0;
}
.title {
  font-size: 2rem;
  width: 100%;
  text-align: left;
  color: $font-color;
  margin: 1.5rem 0;
}
.filters-container{
  width: 100%;
  margin-top: 1rem;
}
.filters-inner-container{
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 45%;
  color: $font-color;
}

// Add button
.add-button {
  height: 100%;
  width: 25rem;
  background-color: $hover-blue-nav-color;
  font-size: 1.3rem;
  color: white;
  padding: 0 2rem;
  text-align: center
}
.add-button:hover  {
  cursor: pointer;
  background-color: $blue-nav-color;
}
.bi-plus {
  margin-left: -1rem;
  display: none;
}
.bi-music-note-list {
  margin: 0 1rem;
  color: white;
  font-size: 1.5rem;
}
.input-container{
  position: relative;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search-bar {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  outline: 0;
  border: 0;
  background-color: $background-second;
  padding: 0 1rem;
  padding-left: $icon-width;
  font-size: 1.3rem;
  color: $font-color;
}
.search-bar::placeholder {
  color: $font-color;
}
.bi-search {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $icon-width;
  height: 100%;
  color: $font-color;
  font-size: 1.5rem;
}
// input - checkbox
$checkbox-size: 1.5rem;
label {
  display: inline-block;
  cursor: pointer;
  line-height: $checkbox-size;
  padding-left: 2.5rem;
  font-size: 1.3rem;
  color: $font-color;
}
label:before {
  content: "";
  position: absolute;
  left: 0;
  background-color: $background-second;
  border-radius: 5px;
  width: $checkbox-size;
  height: $checkbox-size;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + label:before {
  content: "✓";
  color: $font-color;
  text-align: center;
}
.btn span{
  margin-right: 10px;
}
.card-on-small{
  width: 69vw;
}
