<div class="main-container">

  <div class="row main-row">
    <div class="col d-flex justify-content-center flex-column align-items-center management-panel">

      <div class="input-container">
        <input type="text" class="search-bar" [(ngModel)]="searchQuery" [placeholder]="' search by songs\'s name'" (input)="searchSong()">
        <i class="bi bi-search icon"></i>
      </div>

      <div class="filters-container">
        <div class="filters-inner-container">

          <mat-form-field color="primary">
            <mat-label>Artists</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let artist of artists" [value]="artist.name">{{artist.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

      <div class="input-container" *ngIf="isLoggedIn">
        <input type="checkbox" id="show-owned" (click)="filterSongs('owned')">
        <label for="show-owned">Show only songs added by you</label>
      </div>

      <div class="input-container" *ngIf="isLoggedIn">
        <input type="checkbox" id="show-liked" (click)="filterSongs('liked')">
        <label for="show-liked">Show only liked songs</label>
      </div>

      <div class="input-container" *ngIf="isLoggedIn">
        <button class="btn btn-add add-button" (click)="addSong()">
          <span>Add song</span>
          <i class="bi bi-music-note-list"></i>
        </button>
      </div>

      <div class="title">Songs</div>
      <div class="container">
        <div class="row">
          <div class="col description-list">
            <div class="number">#</div>
            <div class="thumbnail">YouTube thumbnail</div>
            <div class="title2">Title</div>
            <div class="genre">Genre</div>
            <div class="like-group">Likes</div>
            <div class="like-group" *ngIf="isLoggedIn">Delete</div>
          </div>

          <div class="col">
            <div *ngFor="let song of songsTemp; index as index"
                 class="d-flex justify-content-center align-items-center mb-3 flex-column">
              <song-list-item [songData]="songs" [songRecord]="song" [songIndex]="index"
                              [botCommand]="botCommand"></song-list-item>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <span class="footer"> ababa</span>
</div>
