$background-main-color: #313338;
$background-hover-color: #404040;
$font-color: #97A9B4;
$background-color: #2B2D31;
$background-second: #515151;
$main-green-color: #248046;
$main-red-color: #FF6C6C;
$main-clay-color: #dec9b8;
$hover-blue-nav-color: #7289DA;
$blue-nav-color: #5774da;
$icon-width: 3rem;

@mixin card-configuration{
  margin-bottom:20px;
  background: $background-main-color;
  border:none;
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
}
