body,html{
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #313338;
  color: white;
}
.container-img-background{
  background-image: url('src/assets/fire-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.success-snackBar {
  background: #198754;
  --mdc-snackbar-container-color: #198754;
  --mdc-snackbar-supporting-text-color: #efebd9;
  border-radius: 25px;
 }
.failed-snackBar {
  background: #FA113D;
   --mdc-snackbar-container-color: #FA113D;
  --mdc-snackbar-supporting-text-color: #efebd9;
  color: wheat;
  border-radius: 25px;
 }

 @font-face {
  font-family: 'karma_future';
  src: url('./assets/karma_future.ttf');
}
 @font-face {
  font-family: 'robotic_mono';
  src: url('./assets/RobotoMono-VariableFont_wght.ttf');
}
