body{
  color: white;
  background: #071e22;
}
.container-img-background{
  background-image: url('src/assets/fire-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackBar {
  background: #198754;
   --mdc-snackbar-container-color: #198754;
  color: wheat;
 }
.failed-snackBar {
  background: #FA113D;
   --mdc-snackbar-container-color: #FA113D;
  color: wheat;
 }
