<div class="container  d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
      <div class="card">
        <form [formGroup]="registerForm" class="box" (ngSubmit)="onSubmit()">
          <h1 class="app-name" routerLink="/dashboard">Discord App</h1>
          <p class="head-text"> Register new user</p>
          <input
            type="text"
            class="input"
            placeholder="Email adress"
            formControlName="email"
            [class.invalid]="registerForm.get('email')?.invalid &&
        (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)"
          >
          <div *ngIf="registerForm.get('email')?.hasError('required') &&
        (registerForm.get('email')?.touched || registerForm.get('email')?.dirty || isValidated)"
               class="error">
            Email address is mandatory
          </div>
          <div *ngIf="registerForm.get('email')?.hasError('email') &&
        (registerForm.get('email')?.touched || registerForm.get('email')?.dirty || isValidated)"
               class="error">
            Email has wrong format
          </div>
          <input
            type="text"
            class="input"
            placeholder="Username"
            formControlName="username"
            [class.invalid]="registerForm.get('username')?.invalid &&
        (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)"
          >
          <div *ngIf="registerForm.get('username')?.hasError('required') &&
        (registerForm.get('username')?.touched || registerForm.get('username')?.dirty || isValidated)"
               class="error">
            Username is mandatory
          </div>
          <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.errors?.['minlength'])"
               class="error">
            Username is too short
          </div>
          <div *ngIf="
        (registerForm.get('username')?.errors?.['maxlength'])"
               class="error">
            Username is too long
          </div>
          <input type="password" placeholder="Password" formControlName="password">
          <div *ngIf="registerForm.get('password')?.hasError('required') &&
        (registerForm.get('password')?.touched || registerForm.get('password')?.dirty || isValidated)"
               class="error">
            Password is mandatory
          </div>
          <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.errors?.['minlength'])"
               class="error">
            Password is too short
          </div>
          <div *ngIf="
        (registerForm.get('password')?.errors?.['maxlength'])"
               class="error">
            Password is too long
          </div>
          <input type="password" placeholder="Repeat password" formControlName="confirmPassword">
          <div *ngIf="registerForm.get('confirmPassword')?.invalid &&
        (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty || isValidated)"
               class="error">
            Repeat password
          </div>
          <div *ngIf="registerForm.hasError('matchValues') && registerForm.get('confirmPassword')?.touched" class="error">
            Passwords differ from each other
          </div>
          <a class="head-text forgot" routerLink="/login">Already have an account</a>
          <input type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
</div>
