@import "src/variables.scss";
.backdropBackground{
  background-color: rgba(162, 17, 17, 0.95);
  backdrop-filter: blur(4px);
}
mat-dialog-content{
  background: $background-main-color;
}
h3{
  color: #dec9b8;
}
.buttonText{
  color: #dec9b8;
  margin-right: 1vw;
}
.container{
  color: #252525;
}
mat-form-field{
  width: 60vw;
}
