.top-bar{
  height: 100%;
  width: 100%;  
}
.inner-top-bar{
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar{
  width: 50%;
  height: 35%;
  border-radius: 20px;
  border: 0;
  padding-left: 40px;
  background: #424242;
  text-align: left;
  font-size: 1.3rem;
  color: #d7d7d7;
  letter-spacing: 1px;
}

.icon {
  padding: 15px;
  width: 10%;
  position: absolute;
}

.bi-person-square{
  font-size: 3rem;
}