<div class="cont1">
     <app-sidebar *ngIf="!sharedService.isSmallScreen; else smallSidebar"></app-sidebar>

  <div>
    <ng-template #smallSidebar>
      <span class="btn-hover" [ngStyle]="isHidden ? {'background-color': '2B2D31'}: {}">
        <i class="bi bi-list icon"
           [ngStyle]="!isHidden ? {'position': 'fixed'}: {}"
           (click)="changeVisibility()"></i>
       <span class="sidebar" [ngStyle]="isHidden ?  {'left': '-100vw'} : {'left': '0'}">
          <app-sidebar (sideBarEvent)="isHiddenFun($event)"></app-sidebar>
       </span>
      </span>
    </ng-template>
    <div class="login-bar d-flex justify-content-end"
         [ngStyle]="!isHidden && sharedService.isSmallScreen ? {'position': 'fixed', 'right': '0', 'z-index': '1'}: {}">
      <div>
        <button class="btn btn-success" *ngIf="!loginStatus; else LogOut" routerLink="/login">Log In</button>

      </div>
      <ng-template #LogOut>
        <button class="btn btn-danger" (click)="user.logOut()">Log Out</button>
      </ng-template>
    </div>
    <div  class=" login-bar d-flex" *ngIf="!isHidden" style="height: 38px; color: #2B2D31">Log In</div>
    <router-outlet></router-outlet>
  </div>

</div>
