@import "src/variables";

.cont1{
  width: 100%;
  display: flex;
  background: $background-main-color;
  overflow: hidden;
}
app-sidebar{
  background-color: $background-color;
  width: 20vw;
  min-height: 100vh;
  text-align: center;
}
.login-bar{
  margin: 10px 20px;
}
