.main-container{
  display: flex;
}

app-sidebar{
  position: fixed;

}
app-sidebar,
.sidebar-fix{
  background-color: #222;
  height: 100vh;
  width: 20%;
  max-width: 20%;
  top: 0px;
  left: 0px;
}

.content-container{
  display: flex;
  width: 80%;
  min-height: 100vw;
}
app-top-bar{
  width: 100%;
  height: 7.5%;
  border: 1px solid red;
}
song-list-item:hover{
  background: #0f4841;
}

.number{
  min-width: 20px;
}
.thumbnail{
  width: 140px;
}
.title {
  width: 400px;
  float: left;
}
.genre{
  width: 70px;
}
.like-group{
  width: 40px;
}
footer{
  margin-top: 80px;
}

