@import "src/variables";
song-list-item:hover{
  background: $hover-blue-nav-color;
  border-radius: 25px;
}
.number{
  min-width: 20px;
}
.thumbnail{
  width: 140px;
}
.title {
  width: 400px;
  float: left;
}
.genre{
  width: 70px;
}
.like-group{
  width: 40px;
}
footer{
  margin-top: 80px;
}
.cont1{
  display: flex;
  background: $background-color;
}
app-sidebar{
  position: sticky;
  top: 20px;
  background-color: $background-main-color;
  padding: 10px;
  width: 20%;
  text-align: center;
}
